<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Inventor_Part_Name_Generator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Inventor_Part_Name_Generator.My.MySettings>
            <setting name="DateFormat" serializeAs="String">
                <value>DD/MM/YYYY</value>
            </setting>
            <setting name="TimeFormat" serializeAs="String">
                <value>t</value>
            </setting>
            <setting name="RestoreOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogEntries" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DatefieldVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExtrafieldVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </Inventor_Part_Name_Generator.My.MySettings>
    </userSettings>
</configuration>